# Copyright (c) 2023-2024 Codyslexia
# @license MIT
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

# Replace the example values below with values specific to your use case.
# You can use 'openssl rand -base64 256' to generate a random secret.

# Used to authorize the Apollo Gateway to communicate with the Apollo Rover router service (optional)
ROUTER_SECRET=""

# Used to authorize the Apollo Gateway to communicate with Apollo Subgraph services (optional)
ROUTER_AUTHORIZATION=""
