# the name of the application
APP_NAME=faker-api

# the hostname of the server
HOST=localhost

# the port of the server
PORT=3000

# the protocol of the server
PROTOCOL=http

# whether the server should use HTTPS or not
USE_HTTPS=1

# the environment of the server (development or production)
NODE_ENV=production

# whether the server is behind a proxy or not
TRUST_PROXY=1
