# Copyright (c) 2023-2024 Codyslexia
# @license MIT
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

# compiled output
dist
tmp
out-tsc
coverage

# dependencies
node_modules
.nx/cache
.yarn/cache
.next
.tamagui

# dev
.env
.nexa
*.secret.*

# devcontainer
.pnpm-store
.nx/cache
.cargo/.package-cache
.cargo/bin
.cargo/env
.cargo/registry
.local/
.npm/
.profile
.rustup/

# ide
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# system
.DS_Store
Thumbs.db

# expo
.expo
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build
cache

# python
.venv
.tox
__pycache__

# expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/

# byte-compiled
__pycache__/
*.py[cod]
*$py.class
.ruff-cache

# distribution
.Python
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyinstaller
*.manifest
*.spec

# pip
pip-log.txt
pip-delete-this-directory.txt

# tests
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
