# Copyright (c) 2023-2024 Codyslexia
# @license MIT
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

# compiled output
dist
tmp
out-tsc
coverage

# misc
CODEOWNERS
.github/ISSUE_TEMPLATE/config.yaml
.next
.nx
.vercelignore
.yarn
pnpm-lock.yaml

/.nx/cache