# the name of the application
APP_NAME=webauthn-api

# the hostname of the server
HOST=0.0.0.0

# the port that the server will run on
PORT=3004

# the environment of the server (development or production)
NODE_ENV=development

# whether the server is behind a proxy or not
TRUST_PROXY=1
